// Import Glue core layout components
@use "@google/glue/lib/core";
@use "@google/glue/lib/typography";
@use "@google/glue/lib/page";
@use "@google/glue/lib/breakpoints";
@use "@google/glue/lib/breakpoints/_variables" as bv;
@use "@google/glue/lib/buttons";
@use "@google/glue/lib/icons";

// Import Glue UI components
@use "@google/glue/lib/header";
@use "@google/glue/lib/footer";
@use "@google/glue/lib/grids";
@use '@google/glue/lib/cards';


// Import Glue layout overrides
@use "@google/glue/lib/accessibility";
@use "@google/glue/lib/spacers";

// Variables
$color_primary: #1d2559;

// Helpers

.g-font-bold {
  font-weight: bold !important;
}

.g-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  min-height: 400px;
  text-align: center;

  .__container {
    max-width: bv.$viewport-sm-max-width;
    margin: 0 auto;
    .glue-headline {
      font-weight: bold;
      margin-bottom: 16px;
    }
  }
}

.g-section-2 {
  background-color: $color_primary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  .--container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    color: white;

    .glue-headline { color: white;}
  }
}

.g-section-3 {
  padding: 84px 24px;
  .__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    .__col-1 {
      width: 100%;
      
      @media #{bv.$media-query-lg} { 
        width: 30%; 
      }

      h5 {
        font-weight: bold;
        margin-bottom: 8px;
      }
      .glue-button {
        margin-top: 16px;
      }
    }

    .__col-2 {
      margin-top: 24px;

      @media #{bv.$media-query-lg} { 
        margin-top: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex: 1;
      }

     
      .entries {
        display: block;
        width: auto;

        .entry {
          border-bottom: solid 1px rgb($color_primary, 0.2);
          padding-bottom: 36px;
          margin-bottom: 36px;

          @media #{bv.$media-query-lg} {
            max-width: 400px;
          }

          h6 {
            font-weight: bold;
          }

          
          &:last-of-type {
            border: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.g-section-4 {
  padding: 84px 24px;

  .__container {
    margin-top: 24px;
    .glue-cards {
      grid-gap: 12px 12px !important;
    }
  }
}