// Import Glue core layout components
@use "@google/glue/lib/core";
@use "@google/glue/lib/links";
@use "@google/glue/lib/typography";
@use "@google/glue/lib/page";
@use "@google/glue/lib/breakpoints";
@use "@google/glue/lib/buttons";
@use "@google/glue/lib/icons";

// Import Glue UI components
@use "@google/glue/lib/header";
@use "@google/glue/lib/footer";
@use "@google/glue/lib/grids";
@use "@google/glue/lib/cards";
@use "@google/glue/lib/ytvideo";

// Import Glue layout overrides
@use "@google/glue/lib/accessibility";
@use "@google/glue/lib/spacers";
@use "@google/glue/lib/alignment";
@use "@google/glue/lib/order";

// Import Glue mixins/variables
@use "@google/glue/lib/colors/variables" as gc; // For SCSS variables
@use "@google/glue/lib/breakpoints/_variables" as gb;
@use "@google/glue/lib/spacers/mixins" as mixins;

// Custom overrides
.glue-fullbleed {
  max-width: 3840px !important; // 4K UHD
}

// Custom functions
// @Create spacer-1 through spacer-8 classes
@for $i from 1 through 8 {
  .glue-spacer-padding-#{$i}-bottom {
    @include mixins.spacer($i, padding, bottom);
  }

  .glue-spacer-padding-#{$i}-top {
    @include mixins.spacer($i, padding, top);
  }

  .glue-spacer-#{$i}-bottom-md {
    @media #{gb.$media-query-md} {
      @include mixins.spacer($i, margin, bottom);
    }
  }

  .glue-spacer-#{$i}-top-md {
    @media #{gb.$media-query-md} {
      @include mixins.spacer($i, margin, top);
    }
  }
}

// Helpers
.glue-align-self-center {
  align-self: center;
}

.section-separator {
  border-bottom: solid 1px rgba(gc.$blue-700, 0.3);
  padding-bottom: 16px;
  margin-bottom: 16px;

  content: " ";
}
 
// Individual sections
#section-2 {
  background: gc.$blue-700;

  .glue-headline {
    color: white;
  }
}

#section-3 {
  .__entries {
    .__entry {
      border-bottom: solid 1px rgb(gc.$blue-500, 0.2);

      &:last-of-type {
        border: none;
      }
    }
  }
}

#section-4 {
  background: gc.$grey-100;

  .__container {
    .glue-cards {
      grid-gap: 12px 12px !important;
    }
  }
}

#section-5 {
  background: gc.$blue-100;
}

.__glue-custom-hero {
  .__align-center {
    align-self: center;
  }

  .__image {
    background-color: grey;
    border-radius: 16px;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    content: " ";
  }
}

.g-section-6 {
  .glue-label {
    margin-bottom: 24px;
  }

  h2.glue-headline {
    margin-bottom: 16px;
  }

  .glue-button {
    margin-top: 24px;
  }
}

.g-section-10 {
  .__container {
    @media #{gb.$media-query-lg} {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16rem;
    }

    .__left {
      margin-bottom: 16px;
      text-align: center;

      @media #{gb.$media-query-lg} {
        max-width: 300px;
        text-align: left;
      }
    }

    .__right {
      text-align: center;

      @media #{gb.$media-query-lg} {
        flex: 1;
        text-align: left;
      }
    }
  }
}